@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .services-block ul li{
        width: 33.33%;
        margin: 20px 0;
    }

    .bottom-products .products-sidebar .item{
        width: 50%;

        &:nth-child(2n+1){
            clear: both;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .services-block ul li{
        width: 50%;
        margin: 20px 0;
    }

    .sm-listing-tabs .ltabs-tabs-container{
        margin-top: 20px;
    }

    .bottom-products .products-sidebar .item{
        width: 50%;

        &:nth-child(2n+1){
            clear: both;
        }
    }
}

@media (max-width: 767px) {
    .sm-listing-tabs .ltabs-tabs-container{
        margin-top: 20px;
    }

    .services-block ul li{
        width: 100%;
        margin: 20px 0;
        border: none!important;
    }

    .deal-slider .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .deal-slider .products-grid .item .item-inner .box-info{
        width: 100%;
        float: none;
        padding: 20px 0 0;
    }

    .bottom-products .products-sidebar .item{
        width: 100%;
        float: none;
    }
}

@media (max-width: 480px) {
    .latest-post-container .item-post{
        width: 100%;
    }
}