// Home style 02

.title-home {
    border-bottom: 1px solid #eee;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-align: center;

    &:before {
        content: "";
        display: block;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        margin-left: -35px;
    }

    h2 {
        font-size: 171.428%;
        font-weight: 500;
        color: #222;
    }
}

.slidershow-home {
    margin: 30px 0;

    .owl-controls {
        .owl-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;

            .owl-dot {
                margin: 0 7px;
                background-color: #fff;
                .box_shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
            }
        }

        .owl-nav {
            opacity: 0;
            .transition(.2s);

            > div {
                width: 60px;
                height: 60px;
                line-height: 60px;
                position: absolute;
                top: 50%;
                margin-top: -30px;
                opacity: 0.7;
                .border_radius(50%);
                .transition(.2s);

                &:before {
                    font-size: 30px;
                    line-height: 60px;
                }

                &.owl-next {
                    right: 20px;
                }

                &.owl-prev {
                    left: 20px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        .owl-controls {
            .owl-nav {
                opacity: 1;
            }
        }
    }

}

.services-block {
    border: 1px solid #eee;
    padding: 25px 0;
    margin-bottom: 50px;
    .border_radius(4px);

    ul {
        li {
            float: right;
            width: 20%;

            &:not(:last-child) {
                border-left: 1px solid #e5e5e5;
            }

            .service-image {
                display: table-cell;
                vertical-align: top;
                width: 100px;
                text-align: center;
            }

            .service-info {
                display: table-cell;
                vertical-align: top;
                padding-top: 3px;

                h4 {
                    font-size: 114.285%;
                    color: #222;
                    margin: 0;
                    font-weight: 500;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

.popular-categories {
    margin-bottom: 50px;

    .item {
        text-align: center;

        h4 {
            font-size: 128.571%;
            font-weight: 500;
            padding-top: 15px;

            a {
                color: #222;
                .transition(.2s);
            }
        }
    }
}

.deal-slider,
.slider-products,
.sm-listing-tabs,
.brand-slider,
.popular-categories {
    .owl-controls .owl-nav div {
        width: 44px;
        height: 44px;
        line-height: 40px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
        color: #aaa;
        margin: 0;
        opacity: 0;
        .border_radius(50%);

        &:before {
            font-size: 20px;
        }

        &:hover {
            color: #fff;
        }
    }

    &:hover {
        .owl-controls .owl-nav div {
            opacity: 1;
        }
    }
}

.deal-slider,
.slider-products,
.sm-listing-tabs,
.brand-slider,
.popular-categories {
    .owl-controls .owl-nav div {
        position: absolute;
        margin-top: -22px;

        &.owl-next {
            right: -22px;
        }

        &.owl-prev {
            left: -22px;
        }
    }
}

.popular-categories {
    .owl-controls .owl-nav div {
        top: 45%;
    }
}

.slider-products {
    margin-bottom: 30px;

    .owl-controls .owl-nav div {
        top: 32%;
    }
}

.cp-code {
    color: #fff;
    font-size: 142.857%;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
    .border_radius(4px);

    .cp-title {
        font-weight: 500;
    }
}

.group-banner {
    .banner-image {
        margin-bottom: 30px;
    }
}

.group-banner {
    margin-bottom: 20px;

    &.group-banner-3{
        margin-bottom: 50px;
    }
}

.sm-listing-tabs {
    margin-bottom: 30px;

    .title-home {
        margin: 0;
    }

    .owl-controls .owl-nav div {
        top: 30%;
    }

    .ltabs-tabs-container {
        position: static;
        text-align: center;
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;

        .ltabs-tabs li {
            padding: 20px 0;
            margin: 0 20px;

            &:before {
                display: none;
            }
        }
    }
}

.bottom-products {
    margin-bottom: 30px;

    .products-sidebar .item {
        width: 25%;
        float: left;
        padding-right: 20px;
        margin-bottom: 30px !important;
    }
}

.brand-container {
    margin-bottom: 50px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;

    .brand-slider {
        .owl-carousel {
            padding: 0 60px;
        }

        .owl-controls .owl-nav div {
            top: 50%;
        }
    }
}

.post-container {
    .item-post {
        margin-bottom: 40px;

        .image-blog {
            position: relative;

            a:before {
                background: rgba(0, 0, 0, 0.5) url("../images/plus.png") no-repeat scroll center center;
                bottom: 0;
                content: "";
                display: block;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                .transition(.2s);
                z-index: 10;
            }

            .date-post {
                position: absolute;
                left: 17px;
                top: 17px;
                line-height: 1.6em;
                background: #fff;
                padding: 15px 13px 7px;
                text-align: center;
                z-index: 15;
                .box_shadow(0 0 5px rgba(0, 0, 0, 0.2));
                .border_radius(4px);

                .day-post {
                    font-size: 171.428%;
                    font-weight: 700;
                    margin-bottom: 3px;
                }
            }

            &:hover {
                > a:before {
                    opacity: 1;
                }
            }

        }

        .info-blog {
            padding-top: 15px;

            .postTitle {
                font-size: 114.285%;
                font-weight: 500;
            }

            .postContent {
                display: none;
            }
        }
    }
}


.deal-slider{
    margin-bottom: 50px;

    .products-grid .item .item-inner{
        margin: 0;
    }

    .owl-controls .owl-nav div{
        top: 47%;
    }

    .bottom-action{
        display: none;
    }

    .products-grid .item .item-inner{
        .box-image{
            float: right;
            width: 48%;
        }

        .box-image{
            .button-action{
                form{
                    display: inline-block;

                    .tocart{
                        padding: 0!important;
                        text-align: center;

                        &:before{
                            .font-awesome(f07a,15px);
                        }
                    }
                }
            }
        }

        .box-info{
            float: right;
            direction: rtl;
            width: 52%;
            padding: 20px 0 0 30px;
            text-align: unset;

            .product-name{
                font-size: 128.571%;
                margin: 20px 0 15px;
            }

            .price-box{
                font-size: 125%;
            }
        }
    }

    .offer-title{
        display: block;
        margin-bottom: 10px;
    }

    .deals-countdown{
        background: none;
        margin: 0 0 4px;
        padding: 0;

        .deals-time{
            text-transform: uppercase;
            color: #222;
            display: inline-block;
            width: auto;
            position: relative;

            &:not(:last-child){
                margin-left: 14px;

                .num-time{
                    &:before{
                        content: ":";
                        position: absolute;
                        left: -9px;
                        top: 0;
                        font-size: 15px;
                    }
                }
            }

            .num-time{
                min-width: 60px;
                height: 44px;
                line-height: 44px;
                font-size: 171.428%;
                background-color: #f5f5f5;
                font-weight: 500;
                margin-bottom: 5px;
                .border_radius(4px);
            }

            .title-time{
                font-size: 85.714%;
            }
        }
    }

    .time-countdown-slide{
        margin-bottom: 35px;
        padding-top: 20px;

        .time-wrapper{
            .time-label{
                .stock-qty{
                    float: right;
                }

                .time-left{
                    float: left;
                }
            }

            .time-ranger{
                background-color: #eee;
                height: 10px;
                position: relative;
                .border_radius(5px);

                .time-pass{
                    height: 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    .border_radius(5px);
                }
            }
        }
    }
}

.latest-post-container{
    margin-bottom: 20px;
}

.banner-image {
    a {
        img {
            &:hover {
                opacity: .8;
            }
        }
    }
}