<div class="header-container header-style-1">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-6">
                    <div class="header-top-left">
                        <div class="welcome-text">
							<span class="greet welcome" data-bind="scope: 'customer'">
								<!-- ko if: customer().fullname  -->
								<span data-bind="text: new String('<?php echo $block->escapeHtml(__('Welcome, %1!', '%1'));?>').replace('%1', customer().firstname)">
								</span>
                                <!-- /ko -->
                                <!-- ko ifnot: customer().fullname  -->
								<span data-bind="html:'<?=$block->escapeHtml($welcomeMessage) ?>'"></span>
                                <!-- /ko -->
							</span>
							<script type="text/x-magento-init">
							{
								"*": {
									"Magento_Ui/js/core/app": {
										"components": {
											"customer": {
												"component": "Magento_Customer/js/view/customer"
											}
										}
									}
								}
							}
							</script>
						</div>

						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('support-header')->toHtml();?>
                    </div>
				</div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="header-top-right">
                        <?php echo $block->getChildHtml('currency-header'); ?>
						<?php echo $block->getChildHtml('language-header'); ?>
                    </div>
                </div>
			</div>
		</div>
	</div>
	
    <div class="header-middle">
        <div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>

				<div class="col-lg-9 col-md-9 col-sm-8 header-middle-right">
					<div class="middle-right-content">
                        <div class="customer-action">
                            <?php if($login_customer->customerLoggedIn()){?>
                                <div class="top-title"><?php echo __('Hello!...')?></div>
                                <div class="customer-links logged-in">
                                    <a class="account-link" href="<?php echo $this->getUrl('customer/account')?>" title="<?php echo __('Login')?>"><?php echo __('Your Dashboard')?></a>
									<?php echo $block->getChildHtml('toplinks-header'); ?>
                                </div>
							<?php } else {?>
                                <div class="top-title"><?php echo __('Hello Guest!')?></div>
                                <div class="customer-links">
                                    <a href="<?php echo $this->getUrl('customer/account/login')?>" title="<?php echo __('Login')?>"><?php echo __('Login')?></a>
                                    <span>/</span>
                                    <a href="<?php echo $this->getUrl('customer/account/create')?>" title="<?php echo __('Register')?>"><?php echo __('Register')?></a>
                                </div>
                            <?php } ?>
                        </div>

                        <div class="minicart-header">
                            <?php echo $block->getChildHtml('cart-header'); ?>
                        </div>
					</div>
				</div>
			</div>

            <div class="horizontal-megamenu">
                <?php 
					echo $block->getChildHtml('navigation-header-megamenu');
				?>
            </div>
		</div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="megamenu-content-sidebar">
						<div class="btn-megamenu">
							<a href="javascript:void(0)" title="<?php echo __('All Categories')?>"><?php echo __('All Categories')?></a>
						</div>

						<div class="menu-ver-content">
							<?php
							if($_config->getGeneral('menu_style') == 'megamenu'){
								echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-vertical')->toHtml();
							} else {
								echo $block->getChildHtml('navigation-header');
							}
							?>
						</div>
					</div>

                    <div class="navigation-mobile-container">
						<?php echo $block->getChildHtml('navigation.mobile'); ?>
					</div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="searchbox-header">
                        <?php echo $block->getChildHtml('search-header-pro'); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

