<div class="header-container header-style-3">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header-top-left">
                        <div class="welcome-text">
							<span class="greet welcome" data-bind="scope: 'customer'">
								<!-- ko if: customer().fullname  -->
								<span data-bind="text: new String('<?php echo $block->escapeHtml(__('Welcome, %1!', '%1'));?>').replace('%1', customer().firstname)">
								</span>
                                <!-- /ko -->
                                <!-- ko ifnot: customer().fullname  -->
								<span data-bind="html:'<?=$block->escapeHtml($welcomeMessage) ?>'"></span>
                                <!-- /ko -->
							</span>
							<script type="text/x-magento-init">
							{
								"*": {
									"Magento_Ui/js/core/app": {
										"components": {
											"customer": {
												"component": "Magento_Customer/js/view/customer"
											}
										}
									}
								}
							}
							</script>
						</div>

						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('support-header')->toHtml();?>

                    </div>
				</div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header-top-right">
                        <?php echo $block->getChildHtml('currency-header'); ?>
						<?php echo $block->getChildHtml('language-header'); ?>
                    </div>
                    <div class="customer-action">
                        <?php if($login_customer->customerLoggedIn()){?>
                            <div class="customer-links logged-in">
                                <a class="account-link" href="<?php echo $this->getUrl('customer/account')?>" title="<?php echo __('Login')?>"><?php echo __('Your Dashboard')?></a>
                                <?php echo $block->getChildHtml('toplinks-header'); ?>
                            </div>
                        <?php } else {?>
                            <div class="customer-links">
                                <a href="<?php echo $this->getUrl('customer/account/login')?>" title="<?php echo __('Sign In')?>"><?php echo __('SIGN IN')?></a>
                                <a href="<?php echo $this->getUrl('customer/account/create')?>" title="<?php echo __('Sign Up')?>"><?php echo __('SIGN UP')?></a>
                            </div>
                        <?php } ?>
                    </div>
                </div>
			</div>
		</div>
	</div>
	
    <div class="header-middle">
        <div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-3 col-sm-4 logo-header">
					<?php echo $block->getChildHtml('logo-header'); ?>
				</div>

				<div class="col-lg-10 col-md-9 col-sm-8 header-middle-right">
                    <div class="all-category">
                        <a href="javascript:void(0);"><?php echo __('All Categories')?></a>
                    </div>

					<div class="searchbox-header">
                        <?php echo $block->getChildHtml('search-header-pro'); ?>
                    </div>
					
					<div class="middle-right-content">

                        <div class="minicart-header">
                            <?php echo $block->getChildHtml('cart-header'); ?>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <div class="header-bottom">
        <div class="container">
			<div class="bottom-content">
				<!--<div class="larger-navigation">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<?php /*echo $block->getChildHtml('navigation-header-megamenu'); */?>
						</div>
					</div>
				</div>-->
				
				<div class="navigation-mobile-container">
					<?php echo $block->getChildHtml('navigation.mobile'); ?>
				</div>
			</div>
        </div>
    </div>

    <div class="all-category-dropdown">
        <?php echo $block->getChildHtml('navigation-header-megamenu'); ?>
    </div>

</div>

<script type="text/javascript">

    require([
        "jquery"
    ], function($) {
        "use strict";

        var overlay = 0;

        $('.all-category a').on('click', function(){
            $(this).toggleClass('active');
            if($(this).hasClass('active')) {
                $('.all-category-dropdown').show();
                $('body').append("<div class='nav-overlay'></div>");
                overlay = document.querySelector('.nav-overlay');
                $(overlay).on('click', function(){
                    $('.all-category a').trigger('click');
                });
            }
            else {
                $('.all-category-dropdown').hide();
                $('.nav-overlay').remove();
            }
        });

    });

</script>
