<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @see \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<?php
	$_config = $this->helper('Sm\Bestshop\Helper\Data');
	$headerStyle = $_config->getThemeLayout('header_style');
	//var_dump($headerStyle);
	
	if( $headerStyle == 'header-10' || $headerStyle == 'header-12' || $headerStyle == 'header-16' || $headerStyle == 'header-17' || $headerStyle == 'header-18' || $headerStyle == 'header-19' ){
		$cl_nav = "horizontal-css";
	} else {
		$cl_nav = "";
	}
?>

<nav class="navigation <?php echo $cl_nav; ?>" role="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>

