@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .deal-slider .title-home h2{
        font-size: 150%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .services-block ul li{
        width: 50%;
        margin: 15px 0;

        &:nth-child(2n){
            border: none;
        }
    }
}

@media (max-width: 767px) {
    .services-block ul li{
        width: 50%;
        margin: 15px 0;

        &:nth-child(2n){
            border: none;
        }
    }
}

@media (max-width: 480px) {
    .services-block ul li{
        width: 100%;
        margin: 15px 0;
    }

    .title-home h2{
        font-size: 133.67%;
    }

    .group-banner{
        .banner-1,
        .banner-2,
        .banner-3,
        .banner-4,
        .banner-5{
            width: 100%;
            float: none;
            margin: 0 0 20px;

            img{
                width: 100%;
            }
        }
    }
}