.cms-index-index {
    .header-style-1 .megamenu-content-sidebar .menu-ver-content {
        opacity: 1;
        visibility: visible;
        margin-top: 30px !important;
        .box_shadow(none);
    }
}

.cms-index-index .page.messages .messages .message{
    > div{
        margin: 0 auto;

        &:before{
            display: none!important;
        }
    }
}

.title-home {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 13px;

    &:before {
        content: "";
        display: block;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
    }

    h2 {
        font-size: 171.428%;
        color: #222;
        font-weight: 500;
    }
}

.slidershow-home {
    margin-bottom: 30px;

    .owl-controls {
        .owl-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;

            .owl-dot {
                margin: 0 7px;
                background-color: #fff;
                .box_shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
            }
        }

        .owl-nav {
            opacity: 0;
            .transition(.2s);

            > div {
                width: 60px;
                height: 60px;
                line-height: 60px;
                position: absolute;
                top: 50%;
                margin-top: -30px;
                opacity: 0.7;
                .border_radius(50%);
                .transition(.2s);

                &:before {
                    font-size: 30px;
                    line-height: 60px;
                }

                &.owl-next {
                    right: 20px;
                }

                &.owl-prev {
                    left: 20px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        .owl-controls {
            .owl-nav {
                opacity: 1;
            }
        }
    }

}

.cp-code {
    color: #fff;
    font-size: 142.857%;
    font-weight: 300;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 50px;

    .cp-title {
        font-weight: 500;
    }
}

.services-block {
    border: 1px solid #e5e5e5;
    padding: 25px 0;
    margin-bottom: 40px;
    .border_radius(4px);

    ul {
        li {
            float: left;
            width: 25%;

            &:not(:last-child) {
                border-right: 1px solid #e5e5e5;
            }

            .service-image {
                display: table-cell;
                vertical-align: top;
                width: 100px;
                text-align: center;
            }

            .service-info {
                display: table-cell;
                vertical-align: top;
                padding-top: 3px;

                h4 {
                    font-size: 114.285%;
                    color: #222;
                    margin: 0;
                    font-weight: 500;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

.popular-categories {
    .item {
        text-align: center;

        h4 {
            font-size: 128.571%;
            font-weight: 500;
            padding-top: 15px;

            a {
                color: #222;
                .transition(.2s);
            }
        }
    }
}

.banner-home{
    margin-bottom: 50px;
}

.sm-listing-tabs,
.brand-slider,
.popular-categories {
    .owl-controls .owl-nav div {
        width: 44px;
        height: 44px;
        line-height: 40px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
        color: #aaa;
        margin: 0;
        opacity: 0;
        .border_radius(50%);

        &:before {
            font-size: 20px;
        }

        &:hover {
            color: #fff;
        }
    }

    &:hover{
        .owl-controls .owl-nav div {
            opacity: 1;
        }
    }
}

.sm-listing-tabs,
.brand-slider,
.popular-categories {
    .owl-controls .owl-nav div {
        position: absolute;
        top: 50%;
        margin-top: -22px;

        &.owl-next {
            right: -22px;
        }

        &.owl-prev {
            left: -22px;
        }
    }
}

.popular-categories {
    margin-bottom: 50px;

    .owl-controls .owl-nav div {
        margin-top: -40px;
    }
}

.sm-listing-tabs {
    margin-bottom: 30px;

    .owl-controls .owl-nav div {
        margin-top: -85px;
    }
}

.brand-slider {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 15px 40px;
    position: relative;
    margin-bottom: 50px;

    .owl-carousel {
        position: static;

        .owl-item {
            text-align: center;

            img {
                width: auto;
            }
        }
    }
}

.listingtab-custom {
    .title-home {
        display: none;
    }

    .sm-listing-tabs .ltabs-tabs-container {
        position: static;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 30px;

        .ltabs-tabs li {
            color: #aaaaaa;
            font-size: 171.428%;
            padding-bottom: 10px;
            font-weight: 500;

            &:not(:first-child){
                margin-left: 30px;
            }

            &:before {
                left: 0;
                margin: 0;
                width: 70px;
            }

            &:hover,
            &.tab-sel {
                color: #222;
            }
        }
    }
}

.product-bottom{
    margin-bottom: 20px;
}

.group-banner{
    margin-bottom: 40px;

    .banner-image{
        margin-bottom: 20px;
    }

    .banner-1{
        float: left;
        width: 70.588%;
    }

    .banner-2{
        float: right;
        width: 27.0588%;
    }

    .banner-3{
        float: left;
        width: 27.0588%;
    }

    .banner-4{
        float: left;
        margin: 0 0 0 20px;
        width: 41.1764%;
    }

    .banner-5{
        float: right;
        width: 70.588%;
    }
}

.deal-slider{
    padding: 15px 30px;
    margin: 0 0 60px;
    .border_radius(10px);

    .products-grid .item .item-inner{
        margin: 0;
    }

    .bottom-action{
        display: none;
    }

    .title-home{
        margin-bottom: 10px;

        &:before{
            display: none;
        }
    }

    .products-grid .item .item-inner{
        .box-image{
            .button-action{
                form{
                    display: inline-block;

                    .tocart{
                        padding: 0!important;
                        text-align: center;

                        &:before{
                            .font-awesome(f07a,15px);
                        }
                    }
                }
            }
        }

        .box-info{
            .product-name{
                font-size: 128.571%;
            }

            .product-reviews-summary{
                display: none;
            }
        }
    }

    .owl-controls .owl-nav{
        position: absolute;
        top: -52px;
        right: -2px;

        div {
            width: 26px;
            height: 26px;
            line-height: 24px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            color: #aaa;
            margin: 0 2px;
            .border_radius(50%);

            &:before {
                font-size: 20px;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    .deals-countdown{
        background: none;
        text-align: center;
        margin: 0 0 4px;
        padding: 0;

        .deals-time{
            text-transform: uppercase;
            color: #222;
            display: inline-block;
            width: auto;
            position: relative;

            &:not(:last-child){
                margin-right: 14px;

                .num-time{
                    &:before{
                        content: ":";
                        position: absolute;
                        right: -9px;
                        top: 0;
                        font-size: 15px;
                    }
                }
            }

            .num-time{
                min-width: 60px;
                height: 44px;
                line-height: 44px;
                font-size: 171.428%;
                background-color: #f5f5f5;
                font-weight: 500;
                margin-bottom: 5px;
                .border_radius(4px);
            }

            .title-time{
                font-size: 85.714%;
            }
        }
    }

    .time-countdown-slide{
        margin-bottom: 35px;
        padding-top: 20px;

        .time-wrapper{
            .time-label{
                .stock-qty{
                    float: left;
                }

                .time-left{
                    float: right;
                }
            }

            .time-ranger{
                background-color: #eee;
                height: 10px;
                position: relative;
                .border_radius(5px);

                .time-pass{
                    height: 10px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    .border_radius(5px);
                }
            }
        }
    }
}

.banner-image{
    a{
        img{
            &:hover{
                opacity: .8;
            }
        }
    }
}

.layout-boxed{
    .cp-code,
    .slidershow-home{
        margin-left: -15px;
        margin-right: -15px;
    }
}