@media (min-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1600px) {
    .header-style-1 .megamenu-content-sidebar .menu-ver-content .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 > a,
    .header-style-1 .navigation ul > li > a{
        font-size: 100%;
        padding: 6px 0;
    }

    .header-style-1 .sm_megamenu_wrapper_vertical_menu .sambar-inner{
        padding-top: 5px;
    }

    .header-style-1 .megamenu-content-sidebar .menu-ver-content .more-w .more-view{
        font-size: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-1{
        .horizontal-megamenu{
            display: none;
        }
    }

    .cms-index-index .header-style-1{
        .megamenu-content-sidebar{
            .menu-ver-content{
                opacity: 0!important;
                visibility: hidden!important;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)!important;
                -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)!important;

                .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .sm_megamenu_lv1 > a{
                    font-size: 100%;
                }
            }

            &:hover{
                .menu-ver-content{
                    opacity: 1!important;
                    visibility: visible!important;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-1{
        .megamenu-content-sidebar,
        .horizontal-megamenu,
        .support-header{
            display: none;
        }

        .header-bottom{
            .container{
                position: relative;
            }
        }

        .navigation-mobile-container{
            display: block;

            .btn-mobile{
                .button-mobile{
                    vertical-align: top;
                    height: 46px;
                    width: 46px;
                    color: #fff;
                    font-size: 26px;
                    .border_radius(3px);
                }
            }
        }

        .searchbox-header{
            position: absolute;
            right: 70px;
            top: -47px;
            left: 15px;
        }
    }
}

@media (max-width: 767px) {
    .header-style-1{
        .welcome-text,
        .megamenu-content-sidebar,
        .horizontal-megamenu,
        .support-header{
            display: none;
        }

        .logo-content{
            text-align: center;
            margin-bottom: 25px;
        }

        .middle-right-content .minicart-header{
            margin-right: 30px;
        }

        .header-bottom{
            .container{
                position: relative;
            }
        }

        .navigation-mobile-container{
            display: block;

            .btn-mobile{
                .button-mobile{
                    vertical-align: top;
                    height: 46px;
                    width: 46px;
                    color: #fff;
                    font-size: 26px;
                    .border_radius(3px);
                }
            }
        }

        .header-middle-right{
            text-align: center;

            .middle-right-content{
                float: none;

                .customer-action{
                    text-align: left;
                }
            }
        }

        .searchbox-header{
            position: absolute;
            right: 70px;
            top: -47px;
            left: 15px;

            .search-wrapper .sm-searchbox-content .form.minisearch{
                .field.searchbox{
                    .input-content{
                        display: block;

                        .input-searchbox{
                            font-size: 85%;
                        }
                    }

                    .select-cat{
                        display: none;
                    }
                }

                .actions .btn-searchbox{
                    &:before{
                        .font-awesome(f002,14px);
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .cart-wrapper .mage-dropdown-dialog{
        text-align: left;
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog{
        width: 285px;
    }
}