// Header Style 1

.header-style-1{
    .logo-wrapper{
        position: relative;
        z-index: 100;
    }

    .logo-content{
        margin: 0;
    }

    .header-top{
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    .welcome-text{
        display: inline-block;
        vertical-align: middle;
        font-size: 92.857%;
    }

    .support-header{
        display: inline-block;
        vertical-align: middle;

        ul{
            li{
                display: inline-block;
                vertical-align: middle;
                margin-left: 28px;
                font-size: 92.857%;

                &:before{
                    margin-right: 5px;
                }

                &.email-header:before{
                    .font-awesome(f0e0,13px);
                }

                &.hot-line:before{
                    .font-awesome(f095,13px);
                }
            }
        }
    }

    .header-top-right{
        float: right;
    }

    .language-wrapper,
    .currency-wrapper{
        display: inline-block;
        margin-left: 10px;
        font-size: 92.857%;

        .switcher-label{
            display: none;
        }

        .switcher-options{
            .switcher-trigger{
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                padding: 0 10px;
                cursor: pointer;

                strong{
                    font-weight: normal;

                    &:after{
                        .font-awesome(f107,14px);
                    }
                }
            }

            .switcher-dropdown{
                li{
                    padding: 10px 0;
                    border-bottom: 1px solid #e5e5e5;

                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .language-wrapper{
        .switcher-options{
            .switcher-trigger{
                strong{
                    padding-left: 20px;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }

            .switcher-dropdown{
                li{
                    a{
                        padding-left: 20px;
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                }
            }
        }
    }

    .dropdown{
        .switcher-trigger{
            position: relative;
        }

        .mage-dropdown-dialog{
            margin-top: 11px;
            .border_radius(3px);
            right: 0;
            left: auto;
            display: none!important;
        }

        &:hover{
            .switcher-trigger{
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    height: 15px;
                    left: 0;
                    right: 0;
                    bottom: -14px;
                    z-index: 10005;
                }
            }

            .mage-dropdown-dialog{
                display: block!important;
            }
        }
    }

    .header-middle{
        padding: 30px 0;
    }



    .megamenu-content-sidebar{
        .btn-megamenu{
            height: 48px;
            line-height: 48px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 12px;
            position: relative;
            .border_radius(3px);

            a{
                color: #fff;

                &:before{
                    .font-awesome(f0c9,17px);
                    margin: 0 8px;
                    position: relative;
                    top: 1px;
                }

                &:after{
                    .border_radius(50%);
                    .font-awesome(f107,14px);
                    width: 16px;
                    height: 16px;
                    border: 1px solid #fff;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    margin-top: -8px;
                    line-height: 16px;
                }
            }
        }
    }

    .search-wrapper{
        .sm-searchbox-content{
            border: 2px solid #e5e5e5;
            .border_radius(3px);

            .form.minisearch{
                display: table;
                width: 100%;

                .field.searchbox{
                    display: table-cell;
                    vertical-align: top;
                    width: 100%;

                    .input-content{
                        display: table-cell;
                        width: 100%;
                        vertical-align: top;

                        .input-searchbox{
                            border: none;
                            height: 44px;
                            padding-left: 15px;
                        }
                    }

                    .select-cat{
                        display: table-cell;
                        vertical-align: top;
                        position: relative;

                        &:before{
                            content: "";
                            display: block;
                            width: 1px;
                            height: 24px;
                            background-color: #e5e5e5;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -12px;
                        }

                        select{
                            width: 195px;
                            border: none;
                            height: 44px;
                            padding-left: 15px;
                        }
                    }
                }

                .actions{
                    display: table-cell;
                    vertical-align: top;

                    .btn-searchbox{
                        height: 48px;
                        margin: -2px -2px -2px 0;
                        opacity: 1;
                        .border_radius(0 3px 3px 0);
                    }
                }
            }
        }

        .sm-searchbox-popular{
            .sm-searchbox-keyword,
            .sm-searchbox-popular-title{
                display: inline-block;
                vertical-align: top;
            }

            .note-msg{
                margin: 0;
            }
        }
    }

    .megamenu-content-sidebar{
        position: relative;

        .menu-ver-content{
            position: absolute;
            margin-top: 50px;
            width: 100%;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            .transition(.2s);

            .sm_megamenu_wrapper_vertical_menu{
                .sm_megamenu_menu{
                    .sm_megamenu_lv1{
                        &.parent-item{
                            > a{
                                &:after{
                                    float: right;
                                    opacity: .6;
                                    margin-top: 0;
                                    .font-awesome(f105,17px);
                                }
                            }
                        }

                        &:hover{
                            > a:after{
                                opacity: 1;
                            }
                        }

                        > a{
                            padding: 10px 0;
                            font-size: 114.285%;
                            border-bottom: 1px solid #e5e5e5;

                            &:before{
                                content: "";
                                display: inline-block;
                                vertical-align: middle;
                                width: 4px;
                                height: 4px;
                                margin-right: 5px;
                                background-color: #666;
                                .border_radius(50%);
                            }
                        }
                    }
                }
            }

            .more-w .more-view{
                font-size: 114.285%;
                color: #444;

                &:before{
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 4px;
                    height: 4px;
                    margin-right: 8px;
                    background-color: #666;
                    .border_radius(50%);
                }

                &:after{
                    .font-awesome(f196,14px);
                    float: right;
                    margin-top: 4px;
                }

                &.open{
                    &:after{
                        .font-awesome(f147,14px);
                    }
                }
            }
        }

        &:hover{
            .btn-megamenu{
                position: relative;

                &:before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 15px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -11px;
                    z-index: 50;
                }
            }

            .menu-ver-content{
                margin-top: 10px;
                opacity: 1;
                z-index: 9999;
                visibility: visible;
            }
        }
    }

    .horizontal-megamenu{
        position: relative;
    }

    .sm_megamenu_wrapper_horizontal_menu{
        position: absolute;
        left: 0;
        right: 0;
        top: -55px;

        .sm_megamenu_menu{
            padding: 0 25%;
            margin-left: 7px;

            .sm_megamenu_lv1{
                &:not(:last-child){
                    margin-right: 34px;
                }

                > a{
                    line-height: 60px;
                    color: #222;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    }

    .middle-right-content{
        float: right;
        position: relative;
        z-index: 100;

        .customer-action{
            padding: 0 0 0 45px;
            position: relative;
            display: inline-block;
            vertical-align: top;

            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                width: 36px;
                height: 34px;
                background: url(../images/customer-cart.png) no-repeat -63px -16px;
            }

            .top-title{
                color: #888;
                font-size: 92.857%;
                position: relative;
                top: 4px;
            }

            .customer-links{
                color: #222;
                position: relative;

                > a{
                    color: #222;
                    font-weight: 500;
                }

                &.logged-in{
                    .account-link{
                        &:after{
                            .font-awesome(f107,14px);
                            margin: 0 5px;
                        }
                    }

                    .toplinks-wrapper{
                        display: none;
                        background-color: #fff;
                        border: 1px solid #e5e5e5;
                        right: 0;
                        min-width: 170px;
                        padding: 11px;
                        position: absolute;
                        top: 100%;
                        z-index: 10009;
                        .box_shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
                        .border_radius(3px);

                        ul{
                            li{
                                padding: 10px 0;

                                &:not(:last-child){
                                    border-bottom: 1px solid #e5e5e5;
                                }
                            }
                        }
                    }
                }
            }

            &:hover{
                .customer-links.logged-in .toplinks-wrapper{
                    display: block;
                }
            }
        }

        .minicart-header{
            display: inline-block;
            vertical-align: top;
            margin-left: 45px;

            .cart-wrapper{
                .minicart-wrapper{
                    margin: 0;

                    .mage-dropdown-dialog{
                        display: none!important;
                    }

                    .action.showcart{
                        vertical-align: top;
                        padding-left: 41px;
                        position: relative;

                        &:after{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 1px;
                            width: 31px;
                            height: 40px;
                            background: url(../images/customer-cart.png) no-repeat -12px -10px;
                        }

                        &:before{
                            display: none;
                        }

                        .text{
                            color: #222;
                            font-weight: 500;
                            position: relative;
                            top: 2px;
                            margin: 2px 0 -1px;
                        }

                        .counter{
                            display: block;
                            background: none;
                            color: inherit;
                            margin: 0;
                            padding: 0;
                            border: none;
                            overflow: visible;
                            text-align: unset;

                            &:before,
                            &:after{
                                display: none;
                            }

                            .counter-label{
                                display: none;
                            }

                            .price-minicart{
                                color: #ff4444;

                                .label{
                                    display: none;
                                }
                            }

                            .counter-number {
                                background: #ff4444;
                                border-radius: 11px;
                                color: #fff;
                                display: block;
                                font-size: 12px;
                                height: 21px;
                                left: -8px;
                                line-height: 21px;
                                position: absolute;
                                text-align: center;
                                top: 26px;
                                width: 21px;
                                z-index: 10;
                                .box_shadow(1px 0 0px 2px #fff);
                            }
                        }
                    }

                    &:hover{
                        .action.showcart{
                            &:before{
                                content: "";
                                display: block;
                                font-family: unset;
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: -14px;
                                height: 15px;
                                z-index: 20;
                            }
                        }

                        .mage-dropdown-dialog{
                            display: block!important;
                        }
                    }
                }
            }
        }
    }

    .header-bottom{
        padding-bottom: 15px;
        .transition(.2s);

        &.menu-on-top{
            background-color: #fff;
            padding: 10px 0;

            .megamenu-content-sidebar{
                .menu-ver-content{
                    opacity: 0!important;
                    visibility: hidden!important;
                    .box_shadow(0 0 3px rgba(0, 0, 0, 0.2));
                }

                &:hover{
                    .menu-ver-content{
                        opacity: 1!important;
                        visibility: visible!important;
                    }
                }
            }
        }
    }

    // CSS MENU

    .navigation {
        > ul {
            > li {
                padding: 0 20px;

                > a{
                    border-bottom: 1px solid #e5e5e5;

                    &:before{
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 4px;
                        height: 4px;
                        margin-right: 5px;
                        background-color: #666;
                        .border_radius(50%);
                    }
                }
            }
        }

        ul {
            li {
                position: relative;

                &.parent{
                    > a{
                        &:after{
                            float: right;
                            opacity: .6;
                            margin-top: 0;
                            .font-awesome(f105,17px);
                        }
                    }

                    &:hover{
                        > a{
                            &:after{
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            > li {
                > a {
                    display: block;
                    font-size: 114.285%;
                    position: relative;
                    padding: 10px 0;
                }

                ul {
                    background-color: #fff;
                    display: none;
                    width: 220px;
                    position: absolute;
                    top: 0 !important;
                    left: 100% !important;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    .border_radius(4px);
                    z-index: 30;

                    li{
                        padding: 0 10px;

                        a{
                            padding: 10px 0;
                            border-bottom: 1px solid #e5e5e5;
                        }

                        &:last-child > a{
                            border: none;
                        }
                    }
                }
            }
        }
    }

}

.layout-boxed{
    &.cms-index-index .header-style-1 .megamenu-content-sidebar{
        .menu-ver-content{
            opacity: 0!important;
            visibility: hidden!important;
            .box_shadow(0 0 3px rgba(0, 0, 0, 0.2));
        }

        &:hover{
            .menu-ver-content{
                opacity: 1!important;
                visibility: visible!important;
            }
        }
    }
}