// RESPONSIVE FOOTER STYLE 1

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .block-footer{
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {

}
