// FOOTER STYLE 1

.footer-container {
    .footer-top{
        background-color: #fafafa;
        padding: 65px 0;
    }

    .block-footer{
        .title-block-footer{
            margin-bottom: 20px;

            h4{
                font-size: 128.571%;
                color: #222222;
                font-weight: 500;
            }
        }

        .content-block-footer{
            .footer-links{
                li{
                    margin: 15px 0;

                    a{
                        color: #666666;

                        &:before{
                            background-color: #666;
                            content: "";
                            display: inline-block;
                            height: 4px;
                            margin-right: -9px;
                            margin-left: 5px;
                            opacity: 0;
                            vertical-align: middle;
                            width: 4px;
                            .border_radius(50%);
                            .transition(.2s);
                        }

                        &:hover{
                            &:before{
                                margin-right: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-list{
        li{
            &:not(:last-child){
                margin-bottom: 19px;
            }

            &:before{
                width: 30px;
            }

            &.address-contact{
                &:before{
                    .font-awesome(f015,20px);
                }
            }

            &.email-contact{
                &:before{
                    .font-awesome(f003,18px);
                }
            }

            &.phone-contact{
                &:before{
                    .font-awesome(f095,18px);
                }
            }

            &.open-contact{
                &:before{
                    .font-awesome(f017,18px);
                }
            }
        }
    }

    .block-subscribe-footer{
        margin-bottom: 25px;

        .form.subscribe{
            display: table;
            width: 100%;
        }

        .input-box{
            display: table-cell;
            vertical-align: top;
            width: 100%;

            #newsletter-footer{
                height: 48px;
                border-color: #e5e5e5;
                padding: 0 15px;
                .border_radius(0 4px 4px 0);
            }
        }

        .action-button{
            display: table-cell;
            vertical-align: top;

            .action.subscribe{
                height: 48px!important;
                line-height: 48px!important;
                .border_radius(4px 0 0 4px);
            }
        }
    }

    .socials-wrap{
        .name-social,
        .title-follow{
            display: none;
        }

        ul{
            display: table;
            width: 100%;

            li{
                float: right;

                &:not(:last-child){
                    margin-left: 10px;
                }

                a{
                    display: block;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    color: #666666;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    .border_radius(3px);
                    .transition(.2s);

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }

    .footer-middle{
        background-color: #fff;
        padding: 65px 0;
    }

    .categories-footer{
        .label-link{
            text-transform: uppercase;
            color: #222222;
            font-weight: 700;
        }

        ul{
            li{
                margin: 15px 0;

                span{
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222;
                }
            }
        }
    }

    .footer-bottom{
        padding: 20px 0;

        a{
            color: #fff;

            &:hover{
                opacity: .8;
            }
        }

        .copyright-content{
            color: #fff;
            padding-top: 8px;
        }

        .payment-content{
            text-align: left;
        }
    }
}

.layout-boxed{
    .footer-container.footer-style-1 .footer-top,
    .footer-container.footer-style-1 .footer-bottom{
        margin-left: -15px;
        margin-right: -15px;
    }
}

