<?php
/**
 *
 * SM Listing Tabs - Version 2.3.0
 * Copyright (c) 2017 YouTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: YouTech Company
 * Websites: http://www.magentech.com
 */
 
$list = $this->_getList();
$tag_id = 'sm_listing_tabs_'.$this->_tagId();
if (!empty($list)) {
	?>
	<div id="<?php echo $tag_id; ?>" class="sm-listing-tabs ltabs-loading-first">
		<div class="ltabs-loading-css">
			<div class="loading-content">
				
			</div>
		</div>
		
		<div class="title-home">
			<h2><?php echo $this->_getConfig('title', 'Tab Listing'); ?></h2>
		</div>
		
		<div class="ltabs-wrap">
			<div class="ltabs-tabs-container"
				data-ajaxurl="<?php echo $block->getBaseUrl().'listingtabs/index/index'; ?>"			  
			    data-modid="<?php echo $this->_tagId(); ?>">
				<!--Begin Tabs-->
				<?php include('default_tabs.phtml'); ?>
			</div>
			<!-- End Tabs-->
			<div class="ltabs-items-container "><!--Begin Items-->
				<?php foreach ($list as $items) {
					$products = isset($items['products_list']) ? $items['products_list'] : '';
					$cls = (isset($items['sel'])) ? ' ltabs-items-selected ltabs-items-loaded ' : '';
					?>
					<div class="ltabs-items <?php echo $cls; ?> <?php echo 'ltabs-items-'.$items['id_tab']; ?>">
						<div class="ltabs-items-inner">
							<?php if (!empty($products)) {
								include('default_items.phtml');
							} else {
								?>
								<div class="ltabs-loading">
									<div class="loading-content">
										
									</div>
								</div>
							<?php } ?>
						</div>

						<?php if($this->_getConfig('type_show') == 'loadmore') { ?>
							<?php $classloaded = ($this->_getConfig('limitation', 2) >= $items['count'] || $this->_getConfig('limitation', 2) == 0) ? 'loaded' : '';?>
							<div class="ltabs-loadmore"
									data-tab-id="<?php echo $items['id_tab']; ?>"
									data-catids="<?php echo $items['cat_children'] ?>"
									data-rl_start="<?php echo $this->_getConfig('limitation', 2) ?>"
									data-rl_total="<?php echo $items['count'] ?>"
									data-ajaxurl="<?php echo $block->getBaseUrl().'listingtabs/index/index'; ?>"							   
									data-rl_allready="<?php echo __('All ready'); ?>"							    
									data-modid="<?php echo $this->_tagId(); ?>"
									data-rl_load="<?php echo $this->_getConfig('limitation', 2) ?>">
									<div class="ltabs-loadmore-btn <?php echo $classloaded ?>"
								     data-label=" <?php echo ($classloaded) ? __('All ready') : __('Load more'); ?>">
									<span class="ltabs-image-loading"></span>
								</div>
							</div>
						<?php } ?>
					</div>
				<?php } ?>
			</div>
			<!--End Items-->
		</div>
	</div>

	<?php include('default_js.phtml'); ?>
<?php
} else {
	echo __('Has no item to show!');
} ?>



