// RESPONSIVE FOOTER STYLE 1

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .social-container{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .social-container{
        margin-bottom: 30px;
    }

    .block-footer{
        margin-bottom: 30px;
    }

    .footer-container .footer-bottom .copyright-content{
        text-align: unset;
    }
}

@media (max-width: 767px) {
    .social-container{
        margin-bottom: 30px;
    }

    .block-footer{
        margin-bottom: 30px;
    }

    .footer-container .footer-bottom .copyright-content{
        text-align: unset;
    }

    .footer-container .socials-wrap,
    .footer-container .block-subscribe-footer,
    .footer-container .top-content .title-top-ft{
        display: block;
    }
}

@media (max-width: 480px) {
    .footer-container .socials-wrap ul li{
        margin-bottom: 10px;
    }
}
