// FOOTER STYLE 2

.footer-container {
    .footer-middle{
        padding: 55px 0;
    }

    .block-footer{
        .title-block-footer{
            margin-bottom: 20px;

            h4{
                font-size: 128.571%;
                color: #222222;
                font-weight: 500;
            }
        }

        .content-block-footer{
            .footer-links{
                li{
                    margin: 15px 0;

                    a{
                        color: #666666;

                        &:before{
                            background-color: #666;
                            content: "";
                            display: inline-block;
                            height: 4px;
                            margin-left: -9px;
                            margin-right: 5px;
                            opacity: 0;
                            vertical-align: middle;
                            width: 4px;
                            .border_radius(50%);
                            .transition(.2s);
                        }

                        &:hover{
                            &:before{
                                margin-left: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-list{
        li{
            &:not(:last-child){
                margin-bottom: 19px;
            }

            &:before{
                width: 30px;
            }

            &.address-contact{
                &:before{
                    .font-awesome(f015,20px);
                }
            }

            &.email-contact{
                &:before{
                    .font-awesome(f003,18px);
                }
            }

            &.phone-contact{
                &:before{
                    .font-awesome(f095,18px);
                }
            }

            &.open-contact{
                &:before{
                    .font-awesome(f017,18px);
                }
            }
        }
    }

    .block-subscribe-footer{
        margin-bottom: 25px;

        .form.subscribe{
            display: table;
            width: 100%;
        }

        .input-box{
            display: table-cell;
            vertical-align: top;
            width: 100%;

            #newsletter-footer{
                height: 42px;
                border: none;
                color: #666;
                padding: 0 15px;
                .border_radius(4px 0 0 4px);
            }
        }

        .action-button{
            display: table-cell;
            vertical-align: top;

            .action.subscribe{
                background-color: #222;
                height: 42px!important;
                line-height: 42px!important;
                .border_radius(0 4px 4px 0);
            }
        }
    }

    .socials-wrap{
        display: table-cell;

        .name-social,
        .title-follow{
            display: none;
        }

        ul{
            display: table;
            width: 100%;

            li{
                float: left;

                &:not(:last-child){
                    margin-right: 10px;
                }

                a{
                    display: block;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    color: #fff;
                    background-color: rgba(0,0,0,0.2);
                    .border_radius(4px);
                    .transition(.2s);

                    &:hover{
                        background-color: #fff;
                    }
                }
            }
        }
    }


    .footer-bottom{
        .bottom-content{
            border-top: 1px solid #eee;
            padding: 30px 0;
        }

        .copyright-content{
            padding-top: 8px;
            text-align: right;
        }
    }

    .tags-footer{
        li{
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;

            a{
                display: block;
                background-color: #f5f5f5;
                padding: 6px 10px;
                .border_radius(4px);
                .transition(.2s);

                &:hover{
                    color: #fff;
                }
            }
        }
    }

    .top-content{
        padding: 30px;
        color: #fff;
        .border_radius(4px);

        .title-top-ft{
            display: table-cell;
            padding-right: 30px;
            font-size: 128.571%;
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 500;
            vertical-align: middle;
        }
    }

    .block-subscribe-footer{
        display: table-cell;
        margin: 0;
        width: 100%;
    }
}


