@media (min-width: 1650px) {
    .slidershow-container{
        margin-left: 17%;
        margin-top: 20px;
    }

    .cms-index-index .page.messages .messages .message{
        margin-left: 17%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .sidebar-index{
        width: 20%;
        margin-bottom: 30px;
    }

    .col-main-index{
        width: 80%;
    }

    .group-banner .col-center{
        padding: 0 19px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-main-index{
        float: none;
    }

    .group-banner .col-center{
        padding: 0 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-main-index{
        float: none;
    }

    .group-banner .col-center{
        padding: 0 16px;
    }

    .hot-categories ul li{
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .col-main-index{
        float: none;
    }

    .hot-categories ul li{
        width: 50%;
    }
}

@media (max-width: 480px) {
    .group-banner .col-center,
    .group-banner .col-left,
    .group-banner .col-right{
        width: 100%;
        float: none;
    }

    .title-home h2{
        font-size: 133.33%;
    }
}