.cms-index-index {
    .header-style-3 .megamenu-content-sidebar .menu-ver-content {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
    }
}

.cms-index-index .page.messages .messages .message {
    padding: 10px;
    margin-top: 10px;

    > div {
        margin: 0 auto;

        &:before {
            display: none !important;
        }
    }
}

.col-main-index {
    float: left;
}

.title-home {
    border-bottom: 2px solid #e5e5e5;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 13px;

    &:before {
        content: "";
        display: block;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -2px;
        right: 0;
    }

    h2 {
        font-size: 171.428%;
        color: #222;
        font-weight: 500;
    }
}

.sidebar-index {
    .title-home {
        h2 {
            font-size: 142.857%;
        }
    }
}

.sm-listing-tabs .ltabs-tabs-container {
    top: -71px;
}

.slidershow-home {
    margin-bottom: 50px;

    .owl-controls {
        .owl-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;

            .owl-dot {
                margin: 0 7px;
                background-color: #fff;
                opacity: .15;
                .box_shadow(0px 2px 3px rgba(0, 0, 0, 0.2));

                &:hover,
                &.active {
                    opacity: 1;
                }
            }
        }

        .owl-nav {
            opacity: 0;
            .transition(.2s);

            > div {
                background-color: transparent !important;
                color: #fff !important;
                position: absolute;
                top: 50%;
                margin-top: -22px;
                opacity: 0.7;
                .border_radius(50%);
                .transition(.2s);

                &:before {
                    font-size: 30px !important;
                    line-height: 40px;
                }

                &.owl-next {
                    right: 20px;
                }

                &.owl-prev {
                    left: 20px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        .owl-controls {
            .owl-nav {
                opacity: 1;
            }
        }
    }

}

.hot-categories {
    margin-top: -8px;
    margin-bottom: 20px;

    ul {
        margin: 0 -15px;
        display: block;

        li {
            float: right;
            padding: 0 15px;
            margin-bottom: 30px;
            width: 20%;

            a {
                display: block;
                position: relative;

                span {
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 128.571%;
                    font-weight: 500;
                    color: #222;
                }

                &:hover {
                    img {
                        opacity: .2;
                    }
                }
            }
        }
    }
}

.group-banner {
    margin-bottom: 10px;

    .col-left,
    .col-right {
        width: 28.4671%;
        float: left;
    }

    .col-center {
        width: 43.0658%;
        float: left;
        text-align: center;
    }

    .banner-image {
        margin-bottom: 30px;
    }
}

.home-style-3 {
    .owl-controls .owl-nav div {
        width: 44px;
        height: 44px;
        line-height: 40px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
        color: #aaa;
        .border_radius(50%);

        &:before {
            font-size: 20px;
        }

        &:hover {
            color: #fff;
        }
    }
}

.sm-listing-tabs,
.slider-products,
.brand-slider {
    .owl-controls .owl-nav div {
        position: absolute;
        margin-top: -22px;

        &.owl-next {
            right: -22px;
        }

        &.owl-prev {
            left: -22px;
        }
    }
}

.brand-slider {
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    .border_radius(4px);

    .owl-carousel {
        padding: 10px 60px;
    }

    .owl-controls .owl-nav div {
        top: 50%;
    }
}

.slider-products {
    .owl-controls .owl-nav div {
        top: 29.5%;
    }
}

.sm-listing-tabs {
    margin-bottom: 20px;

    .owl-controls .owl-nav div {
        top: 32.5%;
    }
}

.brand-slider,
.slider-products,
.sm-listing-tabs {
    .owl-controls .owl-nav div {
        opacity: 0;
    }

    &:hover {
        .owl-controls .owl-nav div {
            opacity: 1;
        }
    }
}

.slider-products {
    margin-bottom: 15px;
}

.product-sidebar-container {
    margin-bottom: 40px;

    .products-sidebar .item .item-inner {
        .box-image {
            width: 80px;
        }

        .box-info {
            margin-right: 95px;
        }
    }
}

.tags-sidebar {
    li {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;

        a {
            display: block;
            border: 1px solid #e5e5e5;
            padding: 6px 10px;
            .border_radius(4px);
            .transition(.2s);

            &:hover {
                color: #fff;
            }
        }
    }
}

.post-container {
    .title-home {
        margin-bottom: 20px;
    }

    .owl-controls .owl-nav {
        position: absolute;
        top: -62px;
        left: -3px;

        div {
            width: 30px;
            height: 30px;
            line-height: 26px;
            margin: 0 3px;
        }
    }

    .item-post {
        margin-bottom: 50px;
        direction: rtl;

        .image-blog {
            position: relative;

            a:before {
                background: rgba(0, 0, 0, 0.5) url("../images/plus.png") no-repeat scroll center center;
                bottom: 0;
                content: "";
                display: block;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                .transition(.2s);
                z-index: 10;
            }

            .date-post {
                position: absolute;
                left: 17px;
                top: 17px;
                line-height: 1.6em;
                background: #fff;
                padding: 8px 8px 4px;
                text-align: center;
                z-index: 15;
                .box_shadow(0 0 5px rgba(0, 0, 0, 0.2));
                .border_radius(4px);

                .day-post {
                    font-size: 171.428%;
                    font-weight: 700;
                    margin-bottom: 3px;
                }
            }

            &:hover {
                > a:before {
                    opacity: 1;
                }
            }

        }

        .info-blog {
            padding-top: 10px;

            .postTitle {
                font-size: 114.285%;

                a {
                    color: #222;
                }
            }

            .postContent {
                display: none;
            }
        }
    }
}

.group-banner-4 {
    .banner-image {
        margin-bottom: 45px;
    }
}

.services-block {
    margin-bottom: 50px;

    ul {
        li {
            border: 1px solid #e5e5e5;
            margin-top: -1px;

            .icon-sv {
                display: table-cell;
                vertical-align: middle;
                width: 80px;
                text-align: center;
                font-size: 30px;
            }

            .info-sv {
                display: table-cell;
                vertical-align: middle;
                padding: 25px 0;

                h3 {
                    font-size: 114.285%;
                    color: #222;
                    font-weight: 500;
                    margin: 0;
                }

                p {
                    margin: 0;
                    font-size: 92.857%;
                }
            }

            &:hover {
                position: relative;
            }
        }
    }
}

.client-slider {
    margin-bottom: 40px;

    .item {
        text-align: center;

        .client-description {
            padding: 20px;
            color: #fff;
            margin-bottom: 30px;
            position: relative;
            .border_radius(4px);

            &:before {
                border-radius: 3px;
                -webkit-border-radius: 3px;
                bottom: -7px;
                content: "";
                display: inline-block;
                height: 16px;
                left: 50%;
                margin-left: -8px;
                position: absolute;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                width: 16px;
            }
        }

        .client-info {
            img {
                display: inline-block;
                width: auto;
                border: 5px solid #e5e5e5;
                max-width: 100%;
                .border_radius(50%);
            }

            h5 {
                font-size: 116.67%;
                font-weight: normal;
                color: #222;
                margin: 18px 0 5px;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }
}

.banner-image {
    a {
        img {
            &:hover {
                opacity: .8;
            }
        }
    }
}

.layout-boxed {
    .cp-code,
    .slidershow-home {
        margin-left: -30px;
        margin-right: -30px;
    }
}