.services-sidebar{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 30px;

    li{
        .service-content{
            border-bottom: 1px dashed #ebebeb;
            padding: 25px 0;

            .service-icon{
                display: inline-block;
                font-size: 30px;
                line-height: 1.2;
                min-width: 36px;
                text-align: center;
                vertical-align: top;
            }

            .service-info{
                display: inline-block;
                vertical-align: top;
                padding-left: 10px;

                h4{
                    font-size: 100%;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                p{
                    margin: 0;
                }
            }
        }

        &:last-child{
            .service-content{
                border: none;
            }
        }
    }
}

// DETAIL GENERAL

.related-upsell-wrapper{
    margin-bottom: 50px;
}

.fancybox-lock .menu-ver-content {
    z-index: 9990 !important;
}

.thumb-item.lslide {
    padding-bottom: 5px;
}

.product-info-main .swatch-opt {
    margin: 0;
}

.page-product-downloadable .product-options-wrapper,
.page-product-downloadable .product-options-bottom {
    float: none !important;
    width: 100% !important;
}

.page-product-downloadable .product-info-main .product-options-bottom .price-box {
    display: none;
}

.gallery-placeholder {
    position: relative;
}

.magnifier-preview {
    left: 100% !important;
    right: auto !important;
    top: 0 !important;
}

.product.attribute.overview {
    margin-bottom: 20px;
}

.page-product-downloadable {
    .field.choice {
        .label {
            span {
                float: left;
            }

            .sample.link {
                float: right;
            }
        }
    }

}

.bundle-summary {
    clear: both;
}

.page-product-bundle {
    .fieldset-bundle-options {
        margin-bottom: 0;
    }

    .field.option {
        .control {
            .qty {
                width: 35px;
                text-align: center;
            }
        }
    }

    .block-bundle-summary {
        .bundle-summary,
        .product-image-container,
        .title {
            display: none;
        }
    }

    .product-info-main {
        .bundle-actions,
        .product-social-links,
        .action.customization,
        #customizeTitle {
            display: none;
        }
    }

    .product-add-form {
        display: block !important;

        .bundle-info {
            .control.control-qty-cart {
                float: left !important;
                margin-top: 5px;
            }
        }
    }

    .product-details .price-box.price-configured_price {
        display: block;
    }
}

.bundle-options-wrapper {
    clear: both;
}

.image-box-detail .product.media {
    overflow: visible;
}

.review-toolbar{
    padding: 0;

    .pager{
        .limiter{
            padding: 10px;
        }
    }
}

.additional-attributes {
    width: auto;

    tr {
        th {
            padding: 8px !important;
            display: block !important;
            font-weight: bold !important;
        }
    }
}

.review-form .action.submit.primary {
    background-color: #333;
}

.review-form .action.submit.primary:focus, .review-form .action.submit.primary:active, .review-form .action.submit.primary:hover {
    background-color: #000;
}

.review-control-vote input[type="radio"] {
    position: relative;
    display: none;
}

.fotorama__stage, .fotorama__nav {
    overflow: visible;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right,
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    width: 27px !important;
    height: 27px !important;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    position: absolute;
    top: 50% !important;
    margin-top: -14px;
    background-color: #fff;

    .fotorama__thumb__arr {
        display: none;
    }

    &:hover {
        &:before {
            color: #fff;
        }
    }
}

.fotorama__dot {
    border: 1px solid #ddd !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
}

.fotorama__thumb__arr {
    transition: none !important;
    -webkit-transition: none !important;
}

.fotorama__thumb__arr--right,
.fotorama__thumb__arr--left {
    .fotorama__thumb--icon {
        display: none;
    }
}

.fotorama__thumb-border {
    background: none;
    .border_radius(4px);
}

.fotorama__thumb {
    border: 1px solid #e5e5e5;
    .border_radius(4px);
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {
    right: 10px !important;

    &:before {
        .font-awesome(f105, 18px);
        line-height: 24px;
    }
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    left: 10px !important;

    &:before {
        .font-awesome(f104, 18px);
        line-height: 24px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--right {
    text-align: center;

    &:before {
        .font-awesome(f107, 18px);
        line-height: 30px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--left {
    text-align: center;

    &:before {
        .font-awesome(f106, 18px);
        line-height: 30px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.image-box-detail {
    position: static;
}

.magnifier-preview {
    border: 1px solid #ddd;
}

// STYLE

.box-tocart.update {
    .field.qty {
        .control {
            width: 70px;
            margin-top: 5px;
        }
    }
}

.product-add-form .box-tocart {
    float: left;
}

.fieldset.review-fieldset {
    margin-bottom: 0;
}

.detail-title {
    font-size: 171.428%;
    font-weight: 500;
    margin-bottom: 20px;
    color: #222;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 3px;
    position: relative;

    &:before {
        content: "";
        width: 70px;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}

.related-upsell-wrapper{
    .owl-controls .owl-nav div {
        width: 44px;
        height: 44px;
        line-height: 40px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
        color: #aaa;
        margin: 0;
        position: absolute;
        top: 50%;
        margin-top: -40px;
        .border_radius(50%);

        &.owl-next {
            right: -22px;
        }

        &.owl-prev {
            left: -22px;
        }

        &:hover{
            color: #fff;
        }
    }

    .products-grid .item .item-inner {
        margin-bottom: 0;

        .reviews-actions{
            display: none;
        }
    }
}

.product-options-wrapper {
    margin-bottom: 30px;
    padding-top: 10px;
}

.product.info.detailed{
    clear: both;
}

.product.attribute.overview{
    padding-top: 20px;
    clear: both;
}

.media{
    overflow: visible;
    float: left;
    width: 50%;
    margin: 0 0 30px;
    padding-right: 15px;
}

.product-info-main {
    width: 50%;
    float: right;
    padding-left: 15px;
    margin-bottom: 30px;

    .page-title-wrapper.product {
        .page-title {
            text-transform: none;
            font-weight: 400;
            font-size: 171.428%;
            color: #444;
            margin-bottom: 5px;
        }
    }

    .product-reviews-summary {
        margin: 10px 0 15px;
        display: table;
    }

    .price-box {
        margin-bottom: 20px;
        display: inline-block;

        .price {
            font-size: 166.67%;
        }
    }

    .product-info-stock-sku {
        display: inline-block;
        float: right;
        margin-top: 2px;

        .available {
            span {
                color: #00abf0;

                &:before {
                    .font-awesome(f046, 14px);
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }

            }
        }

        .sku {
            display: none;
        }
    }

    .product-options-bottom {
        float: left;
    }

    .product-options-bottom,
    .product-add-form {
        .box-tocart {
            .fieldset {
                display: table;
                margin-right: 10px;

                .qty {
                    float: left;
                    margin: 0 !important;

                    .label {
                        line-height: 40px;
                        padding: 0 8px 0 0px!important;
                        float: none !important;
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0;
                    }

                    .control {
                        display: table-cell;
                        vertical-align: middle;
                        padding-right: 20px;
                        float: none!important;

                        #qty {
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            margin-right: 0;
                            .border_radius(3px 0 0 3px);
                        }
                    }
                }

                .actions {
                    float: left;

                    button {
                        color: #fff !important;
                        line-height: 40px;
                        height: 40px;
                        padding: 0 26px!important;
                        .border_radius(20px);
                    }
                }
            }
        }
    }

    .product-addto-links,
    .product-social-links {
        .action {
            display: block !important;
            background-color: transparent;
            float: left;
            line-height: 35px;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 10px;
            .border_radius(50%);
            .transition(.2s);

            &:hover{
                color: #fff!important;
            }

            &:last-child {
                margin-right: 0;
            }

            &.mailto.friend {
                display: none !important;
            }

            &:hover {
                background-color: transparent;
            }

            span {
                display: none;
            }

            &.tocompare {
                &:before {
                    .font-awesome(f074, 14px);
                    line-height: 40px;
                }
            }

            &.towishlist {
                &:before {
                    .font-awesome(f004, 14px);
                    line-height: 40px;
                }

            }

            span {
                display: none;
            }

            &.mailto.friend {
                margin: 0;

                &:before {
                    line-height: 34px;
                }
            }
        }
    }
}

#addthis_wrap {
    clear: both;
}

.detail-bottom-wrapper {
    padding-top: 40px;
    margin-bottom: 30px;
    clear: both;

    .product.data.items {
        border: 1px solid #e1e1e1;

        > .item.title {
            margin-left: -1px !important;
            margin-right: 0 !important;
            border-top: none !important;

            .counter {
                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }
        }

        .data.item.content {
            border: none !important;
            margin-top: 50px !important;
        }
    }

}

.product-image-detail {
    .large-image {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;
        padding: 1px;
        text-align: center;
    }

    .thumbs-container {
        .thumb-slider {
            .thumb-item {
                .thumb-image {
                    border: 1px solid #ddd;
                    background-color: #fff;
                }

                img {
                    border: 1px solid transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// THUMB VERTICAL

.product-image-detail {
    position: relative;
}

.thumb-vertical {
    .thumbs-container {
        width: 90px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 10002;

        .lSSlideOuter.vertical .lSAction > a {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }

    }
}

.fancybox-lock .thumb-vertical .thumbs-container {
    z-index: 9995;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .default-style .resp-tabs-list li{
        margin-right: 20px;
    }

    .product-info-main .product-options-bottom .box-tocart .fieldset .actions button,
    .product-info-main .product-add-form .box-tocart .fieldset .actions button{
        padding: 0 20px!important;
    }

    .product-info-main .product-options-bottom .box-tocart .fieldset .qty .control,
    .product-info-main .product-add-form .box-tocart .fieldset .qty .control{
        padding-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-top: 10px;
        clear: both;
    }

    .product-info-main .product-options-bottom .box-tocart .fieldset .actions button,
    .product-info-main .product-add-form .box-tocart .fieldset .actions button{
        padding: 0 20px!important;
    }

    .product-info-main .product-options-bottom .box-tocart .fieldset .qty .control,
    .product-info-main .product-add-form .box-tocart .fieldset .qty .control{
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .catalog-product-view .column.main {
        display: flex;
        flex-direction: column;
    }

    .product-info-main,
    .product.media{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }

    .product.media{
        order: -1;
    }

    .additional-attributes tr th {
        display: none !important;
    }

    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-top: 10px;
        clear: both;
    }
}

@media (max-width: 480px) {
    .product-info-main .product-addto-links {
        clear: both;
        padding-top: 10px;
    }

    .sidebar-image {
        display: table;
    }
}
