<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<?php
$_product = $block->getProduct();
$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
$_config = $this->helper('Sm\Bestshop\Helper\Data');
?>

<div class="product-addto-links" data-role="add-to-links">
	<?php if($_config->getAdvanced('show_wishlist_button')){?>
		<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
			<a title="<?php echo __('Add to Wish List');?>" href="#"
				class="action towishlist"
				data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
				data-action="add-to-wishlist"><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span></a>
		<?php endif; ?>
	<?php } ?>
	
	<?php if($_config->getAdvanced('show_compare_button')){?>
		<a title="<?php echo __('Add to Compare');?>" href="#" data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>' data-role="add-to-links" class="action tocompare">
			<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
		</a>
	<?php } ?>
</div>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
        }
    }
</script>
