.filter-content .swatch-option {
    .border_radius(3px);
    outline: none!important;
    border: 1px solid #e5e5e5;

    &:hover{
        border-color: #ddd;
    }
}

.filter-content .swatch-option.color {
    width: 20px;
    height: 20px;
    outline: none!important;
    border: none!important;
    min-width: auto;
    .box_shadow(0 0 1px 0px rgba(0, 0, 0, 0.3));
    .border_radius(50%);
}

.label-product {
    position: absolute;
    top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 85.714%;
    z-index: 20;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    min-width: 50px;
    text-align: center;
    .border_radius(12px);

    &.label-sale {
        left: 10px;
        background-color: #ff4444;
    }

    &.label-new {
        right: 10px;
        background-color: #1cc48f;
    }
}

.catalog-category-view {
    &.page-layout-2columns-left,
    &.page-layout-2columns-right {
        .toolbar-top {
            margin-top: 29px;
        }
    }
}

//  Block sidebar
//  ---------------------------------------------

.sidebar {
    .block {
        margin-bottom: 30px !important;

        .block-title {
            margin-bottom: 8px;

            strong {
                font-size: 128.571%;
                color: #222;
                font-weight: 400;
            }
        }

        .block-content {
            background-color: #fafafa;
            padding: 20px;
            border: 1px solid #e5e5e5;
            .border_radius(4px);
        }

        &.filter {
            .block-title {
                display: none;
            }

            .block-subtitle.filter-subtitle {
                display: none;
            }

            .block-content {
                background: none;
                border: none;
                padding: 0;

                .swatch-layered .swatch-attribute-options {
                    padding: 10px 0 15px 20px;
                }

                .price-slider-wrap {
                    padding: 10px 20px 20px
                }

                .filter-current {
                    .block-subtitle.filter-current-subtitle {
                        font-size: 150%;
                        color: #222;
                        font-weight: normal;
                    }

                    .items {
                        border: 1px solid #e5e5e5;
                        border-bottom: none;
                        overflow: hidden;

                        .item {
                            margin: 0;
                            padding: 13px 20px 10px;
                            background-color: #f8f8f8;
                            border-bottom: 1px solid #e5e5e5;

                            &:last-child {
                                border: none;
                            }

                            span {
                                display: inline;
                                font-weight: normal;
                            }

                            .action.remove {
                                color: #ff5555;

                                &:before {
                                    .font-awesome(f00d, 14px);
                                }

                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .filter-current + .filter-actions {
                    padding: 20px;
                    border: 1px solid #e5e5e5;
                    text-align: right;
                }

                .filter-options {
                    .filter-options-title {
                        font-size: 128.571%;
                        color: #222;
                        font-weight: 400;
                    }

                    .filter-options-content {
                        background-color: #fafafa;
                        border: 1px solid #e5e5e5;
                        margin-bottom: 30px;
                        .border_radius(4px);

                        .items {
                            .item {
                                margin: 0;

                                a {
                                    background-color: transparent;
                                    display: block;
                                    border-bottom: 1px solid #e5e5e5;
                                    padding: 13px 20px 10px;
                                    .transition(.2s);

                                    .price {
                                        color: inherit;
                                    }

                                    &:hover {
                                        background-color: #fff;
                                    }

                                    .count {
                                        float: left;

                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }

                                &:last-child {
                                    a {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

        &.block-compare {
            .block-title {
                .counter {
                    display: none;
                }
            }

            .empty {
                padding: 20px;
                border: 1px solid #e5e5e5;
                background-color: #fafafa;
                .border_radius(4px);
            }

            .product-items {
                list-style: none;
                margin: 0;
                padding: 0;

                .product-item{
                    position: relative;
                    padding: 5px 0;

                    .action.delete {
                        position: absolute;
                        top: 0;
                        right: 0;

                        &:before{
                            .font-awesome(f00d,14px);
                        }

                        span{
                            display: none;
                        }
                    }
                }

                .product-item-name {
                    margin: 0;
                    font-weight: normal;
                    display: block;
                    padding-right: 24px;
                }


            }

            .action.delete {
                right: 0;
                left: auto;
            }

            .actions-toolbar .secondary a.action {
                margin-top: 11px;
            }
        }

    }
}

// GRID PRODUCTS

.products-grid {
    position: relative;
    margin: 0;

    div[class^="swatch-opt-"] {
        margin-bottom: 10px;
    }

    .product-item-photo {
        display: block;
        line-height: 0;
        .transition(.2s);

        .product-image-container {
            width: 100% !important;

            .product-image-wrapper {
                padding: 0 !important;
                height: auto !important;

                img {
                    width: 100%;

                    &.product-image-photo {
                        position: relative;
                        float: none;
                    }
                }
            }
        }
    }

    .item {
        .item-inner {
            margin-bottom: 30px;

            .box-image {
                position: relative;

                a {
                    img {
                        width: 100%;
                    }
                }

                .button-action {
                    text-align: center;
                    left: 0;
                    margin-top: -21px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    opacity: 0;
                    .transition(.2s);

                    .action {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 2px;
                        width: 42px;
                        height: 42px;
                        line-height: 42px;
                        overflow: visible;
                        color: #fff;
                        background-color: rgba(0, 0, 0, 0.5);
                        .border_radius(50%);
                        .transition(.2s);

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                        &.towishlist {
                            &:after {
                                .font-awesome(f004, 14px);
                            }
                        }

                        &.tocompare {
                            &:after {
                                .font-awesome(f074, 14px);
                            }
                        }

                        &.quickview-handler {
                            &:after {
                                .font-awesome(f002, 14px);
                            }
                        }
                    }
                }
            }

            .box-info {
                padding: 10px 10px 0;
                text-align: center;

                .product-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 0 7px;
                    font-size: 100%;
                    font-weight: normal;
                    text-transform: capitalize;

                    a {
                        white-space: nowrap;
                    }
                }

                div[class^="swatch-opt-"]{
                    display: block;
                }

                .swatch-option{
                    float: none;
                    display: inline-block;
                    margin: 0 5px;
                }

                .tocart {
                    height: 40px;
                    line-height: 38px;
                    padding: 0 26px !important;
                    border: 1px solid #e5e5e5 !important;
                    background: none;
                    color: #444 !important;
                    .border_radius(20px);
                    .transition(.2s);
                }

                .price-box {
                    margin: 0 0 10px;
                }

                .product-reviews-summary {
                    .rating-summary{
                        padding: 0;
                    }

                    .reviews-actions {

                        .action.view {
                            display: none;
                        }

                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 74px;
                            margin-top: 3px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }
            }

            &:hover {
                .box-image .button-action {
                    opacity: 1;
                }

                .product-item-photo{
                    opacity: .2;
                }

                .box-info .tocart {
                    color: #fff !important;
                }
            }
        }
    }
}

// LIST PRODUCT

.products-list {
    margin: 0;

    .item {
        .item-inner {
            margin-bottom: 30px;
            position: relative;
            display: table;
            width: 100%;

            .box-image-list {
                position: relative;
                float: left;
                width: 300px;

                .product-item-photo{
                    .transition(.2s);
                }

                a {
                    img {
                        width: 100%;
                    }
                }

                .button-action {
                    text-align: center;
                    left: 0;
                    margin-top: -21px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    opacity: 0;
                    .transition(.2s);

                    .action {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 2px;
                        width: 42px;
                        height: 42px;
                        line-height: 42px;
                        overflow: visible;
                        color: #fff;
                        background-color: rgba(0, 0, 0, 0.5);
                        .border_radius(50%);
                        .transition(.2s);

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                        &.towishlist {
                            &:after {
                                .font-awesome(f004, 14px);
                            }
                        }

                        &.tocompare {
                            &:after {
                                .font-awesome(f074, 14px);
                            }
                        }

                        &.quickview-handler {
                            &:after {
                                .font-awesome(f002, 14px);
                            }
                        }
                    }
                }
            }

            .box-info-list {
                margin-left: 330px;
                padding-top: 30px;

                .product-name {
                    font-weight: normal;
                    font-size: 128.571%;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }

                .price-box {
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                .product-reviews-summary {
                    margin: 0 0 10px;

                    .reviews-actions {
                        .action.view {
                            display: none;
                        }
                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 74px;
                            margin-top: 3px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }

                .product-item-inner {
                    margin-bottom: 10px;
                    color: #888;

                    .more {
                        display: none;
                    }
                }

                .tocart {
                    height: 40px;
                    line-height: 38px;
                    padding: 0 26px !important;
                    border: 1px solid #e5e5e5 !important;
                    background: none;
                    color: #444 !important;
                    .border_radius(20px);
                    .transition(.2s);
                }
            }

            &:hover {
                .box-image-list .button-action {
                    opacity: 1;
                }

                .product-item-photo{
                    opacity: .2;
                }

                .box-info-list .tocart {
                    color: #fff !important;
                }
            }
        }
    }
}

.toolbar {
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 10px;
    clear: both;
    display: table;
    width: 100%;
    margin-bottom: 30px;
    .border_radius(4px);

    select {
        height: 32px;
        line-height: 32px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .modes {
        margin-left: 20px;
        display: inline-block;
        float: right;

        .modes-label {
            display: none;
        }

        .modes-mode {
            float: right;
            display: inline-block;
            width: 34px;
            height: 34px;
            border: 1px solid #e5e5e5;
            text-align: center;
            line-height: 34px;
            background-color: #fff;
            color: #444444;
            margin-left: 5px;
            .transition(.2s);
            .border_radius(4px);

            span {
                display: none;
            }

            &.active {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }

            &.mode-grid {
                &:before {
                    .font-awesome(f009, 14px);
                }
            }

            &.mode-list {
                &:before {
                    .font-awesome(f00b, 14px);
                }
            }
        }
    }

    .toolbar-amount {
        float: right;
        display: inline-block;
        line-height: 34px;
        margin: 0 0 0 20px;
    }

    .limiter {
        float: right;
        margin-left: 20px;

        .label {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            line-height: 34px;
        }

        .control {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;

        }

        .limiter-text {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .toolbar-sorter.sorter {
        float: left;

        .sorter-label {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0 5px 0 0;
            line-height: 34px;
        }

        .sorter-options {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0;
            width: auto;
        }

        .action.sorter-action {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;

            &.sort-asc {
                &:before {
                    .font-awesome(f176, 14px);
                }
            }

            &.sort-desc {
                &:before {
                    .font-awesome(f175, 14px);
                }
            }

            span {
                display: none;
            }
        }
    }

    .pages {
        float: left;
        line-height: 0;

        .pages-label {
            display: none;
        }

        .pages-items {
            li {
                float: right;
                margin: 0 5px 0 0;

                .label {
                    display: none;
                }

                strong,
                a {
                    color: inherit;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    display: inline-block;
                    min-width: 34px;
                    height: 34px;
                    text-align: center;
                    line-height: 34px;
                    font-weight: normal;
                    .transition(.2s);
                    .border_radius(4px);

                    &.action.next {
                        .transform(rotate(180deg));

                        span {
                            display: none;
                        }

                        &:after {
                            .font-awesome(f105, 16px);
                            line-height: 32px;
                            position: relative;
                            top: -2px;
                        }
                    }

                    &.action.previous {
                        .transform(rotate(180deg));

                        span {
                            display: none;
                        }

                        &:after {
                            .font-awesome(f104, 16px);
                            line-height: 32px;
                            position: relative;
                            top: -2px;
                        }
                    }
                }

                a:hover {
                    color: #fff;
                }

                strong {
                    color: #fff;
                }
            }
        }
    }

}

.toolbar-top,
.toolbar-bottom {
    .toolbar .modes {
        margin-left: 50px;
    }
}

.toolbar-top {
    .pages {
        display: none;
    }

    .toolbar {
        .toolbar-sorter {
            &.sorter {
                float: left;
            }
        }

        .toolbar-amount {
            margin-left: 200px;
        }
    }
}

.toolbar-bottom {
    padding-top: 20px;

    .toolbar {
        .limiter,
        .toolbar-sorter.sorter {
            display: none;
        }
    }
}

.col3-layout {
    .toolbar-amount {
        display: none !important;
    }
}

// PRODUCT SIDEBAR

.products-sidebar {
    .item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        .item-inner {
            .box-image {
                float: right;
                width: 90px;
            }

            .box-info {
                margin-right: 110px;

                .product-name {
                    font-size: 100%;
                    margin-bottom: 5px;
                }

                .product-reviews-summary {
                    margin-bottom: 7px;
                    display: table;

                    .reviews-actions {
                        .action.view {
                            display: none;
                        }
                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 74px;
                            margin-top: 7px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }

                .product-item-actions {
                    .actions-primary {
                        padding: 10px 0;
                    }

                    .actions-secondary {
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE LISTING PAGE

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .sm_quickview_handler {
        display: none !important;
    }

    #layered-filter-block .wrap-price-shopby .btn-shopby {
        float: none !important;
        width: 100% !important;
    }

    #layered-filter-block .wrap-price-shopby .price-input {
        float: none !important;
        width: 100% !important;
        display: table;
        margin-bottom: 6px;

        .txt-price-shopby {
            width: 48%;
            margin: 0;
        }

        .txt-price-shopby:last-child {
            float: left;
        }

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .toolbar .limiter{
        display: none;
    }

    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .sm_quickview_handler {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .sm_quickview_handler {
        display: none !important;
    }

    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .toolbar-amount{
        display: none!important;
    }

    .toolbar-top .limiter{
        display: none;
    }

    .toolbar-top .toolbar .modes{
        margin: 0;
    }

    .toolbar-top .modes, .toolbar-top .toolbar-sorter{
        margin: 0!important;

        .sorter-label{
            display: none!important;
        }
    }

    .toolbar-top {
        .modes,
        .toolbar-sorter {
            margin-right: 20px;
        }

        .pages {
            display: none;
        }
    }

    .toolbar-bottom {
        .toolbar-sorter,
        .limiter {
            display: none;
        }
    }

    .products-list .item .item-inner {
        .box-image-list {
            width: 150px;
        }

        .box-info-list {
            margin-left: 160px;
        }
    }

}

@media (max-width: 480px) {
    .toolbar .modes {
        margin-right: 10px;
    }

    .toolbar-top {
        .limiter {
            float: none;
            width: 100%;
            border-top: 1px solid #e5e5e5;
            padding-top: 10px;
            margin-top: 10px;
        }
    }

    .products-list .item .item-inner {
        .box-image-list,
        .box-info-list {
            width: 100%;
            margin: 0;
        }

        .box-info-list {
            clear: both;
            padding-top: 10px;
        }
    }
}

