.page-wrapper {
    padding-top: 101px;
}
a:hover {
    color: #00438c;
}
.header-style-3 .header-top {
    background: #4c4c4e;
    color: #ffffff;
    padding: 0;
    line-height: 28px;
    letter-spacing: 1px;
}

.nav-overlay {
    background-color: rgba(0,0,0,0.8);
    height: 60000px;
    position: fixed;
    top: 101px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header-style-3 .customer-links {
    text-align: right;
}

.header-style-3 .customer-links a {
    color: #ffffff;
    font-size: 12px;
    margin-left: 15px;
    padding-left: 15px;
}

.header-style-3 .header-middle {
    padding: 13px 0;
    background-color: #eeeeee;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.18);
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.18);
    max-height: 68px;
    margin: 0;
}

.header-style-3 .customer-links a:last-child {
    border-left: 1px solid #ffffff;
}

.header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content .input-searchbox {
    background: #ffffff;
    height: 40px;
    padding: 6px 15px;
}

.header-style-3 .middle-right-content .minicart-header .cart-wrapper .minicart-wrapper .action.showcart {
    height: 40px;
}

.header-style-3 .middle-right-content .minicart-header .cart-wrapper .minicart-wrapper {
    margin-top: 5px;
}

.header-style-3 .minicart-wrapper .block-minicart {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat {
    display: none;
}

.header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox {
    border-radius: 0;
    height: 40px;
    margin: 0 -2px -2px 0;
    font-weight: 400;
    width: 50px;
    padding: 0 !important;
}

.header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox span {
    display: none;
}

.header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox:before {
    content: "\f002";
    font-family: 'FontAwesome';
    font-size: 16px;
}

.header-style-3 .search-wrapper .sm-searchbox-content {
    border-width: 1px;
    border-radius: 0;
}

.header-style-3 .megamenu-content-sidebar .btn-megamenu a::after {
    display: none;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
    padding: 0;
    box-shadow: 1px 4px 11px 0 rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 4px 11px 0 rgba(0,0,0,0.35);
    position: relative;
}
.header-style-3 .menu-on-top .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu {
    padding: 0 20px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .parent-item > a::after {
    display: none   ;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1:not(:last-child) {
    margin-right: 0;
    border-top: 1px solid #f9f9f9;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1:first-child {
    border-top: 0;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1:last-child {
    margin-right: 0;
    border-top: 1px solid #f9f9f9;
}

/*.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1:last-child .sm_megamenu_title:after {
    content: 'New';
    float: right;
    color: white;
    margin-right: 20px;
    font-size: 10px;
    background: #27972c;
    line-height: 16px;
    padding: 4px 6px;
    border-radius: 3px;
    margin-top: 9px;
}*/

.header-style-3 .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a:hover {
    color: #00448e;
}

.header-style-3 .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a:hover span {
    text-decoration: underline;
}

.header-style-3 .sm_megamenu_title .sm_megamenu_icon {
    color: #27972c;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.header-style-3 .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a {
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.header-style-3 .sm_megamenu_head_item > .sm_megamenu_title > a.sm_megamenu_nodrop {
    color: #666;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.header-style-3 .sm_megamenu_head_item > .sm_megamenu_title > .sm_megamenu_title > a:hover:before {
    display: none;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li {
    float: none;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1:hover > a {
    opacity: 1;
    background: #ffa502;
    color: white;
}

.header-style-3 .header-bottom {
    background: #ffffff;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu {
    background: #ffffff;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1 > a {
    color: rgb(76, 76, 76);
    line-height: 45px;
    padding: 0 20px 0 60px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns {
    left: 342px;
    top: 0;
    width: 670px;
    border-left: 3px solid #ffa502;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.header-style-3 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1 > a:before {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    top: -2px;
    right: 11px;
    font-size: 30px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.cart-wrapper .mage-dropdown-dialog {
    width: 370px;
}

.block-minicart .minicart-items .product-item-details .product-item-name {
    padding-right: 100px;
}

.minicart-items .item-qty {
    padding: 0;
}
.block-minicart .header-minicart {
    background: #f5f5f5;
    color: #868686;
}
.block-minicart .block-content > .actions a {
    border-radius: 0;
    height: 35px;
    line-height: 35px;
}

.product-info-main .product-options-bottom .box-tocart .fieldset .qty .control #qty,
.product-info-main .product-add-form .box-tocart .fieldset .qty .control #qty {
    padding: 0;
}

.footer-container .block-subscribe-footer .action-button .action.subscribe,
.footer-container .block-subscribe-footer .input-box #newsletter-footer{
    border-radius: 0;
}

.footer-container.footer-style-1 .footer-bottom {
    background-color: #6b6b6b;
}

.home-style-1 .cp-code {
    background: #f4eedb;
    color: #484848;
}

.login-container .block .block-title strong {
    font-size: 18px;
    font-weight: 600;
}

.login-container .block.block-customer-login .block-content .field.email,
.login-container .block.block-customer-login .block-content .field.password,
.login-container .block.block-customer-login .block-content .actions-toolbar{
    max-width: 340px;
}

.customer-account-login .top-content-theme,
.customer-account-create .top-content-theme{
    background: transparent;
    padding: 0;
    text-align: left;
}

.logo-content {
    font-size: 32px;
}

.header-style-3 .middle-right-content .customer-action {
    vertical-align: middle;
    line-height: 46px;
}

.header-style-3 .middle-right-content .customer-action::before {
    display: none;
}

.header-style-3 .searchbox-header {
    padding-right: 0;
}

.header-container.header-style-3 {
    border-bottom: 3px solid #ececec;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

.header-style-3 .all-category {
    display: table-cell;
    vertical-align: middle;
}

.header-style-3 .all-category-dropdown{
    position: fixed;
    left: 0;
    z-index: 1000;
    top: 98px;
    width: 342px;
    display: none;
}

.header-style-3 .all-category a {
    white-space: nowrap;
    border: 1px solid #dadada;
    padding: 0 10px;
    float: left;
    line-height: 40px;
    margin-right: 30px;
    color: #4c4c4e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.header-style-3 .all-category a:after {
    font-family: 'FontAwesome';
    /*content: "\f107";*/
    content: "\f0d7";
    margin-left: 10px;
}

.header-style-3 .all-category a.active {
    background: #ffffff;
}

.header-style-3 .all-category a.active:after {
    content: "\f0d8";
}

.header-style-3 .searchbox-header .search-wrapper {
    max-width: 565px;
}

.header-style-3 .middle-right-content .minicart-header .cart-wrapper .minicart-wrapper .action.showcart:after {
    background: url("../images/customer-cart-3.png") no-repeat;
    background-size: 100%;
}
.header-style-3 .middle-right-content .minicart-header .cart-wrapper .minicart-wrapper .action.showcart .counter .counter-number {
    top: -5px;
    right: 16px;
    left: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #eeeeee;
    height: 24px;
    width: 24px;
    border-radius: 29px;
    -webkit-border-radius: 29px;
}

.header-style-3 .middle-right-content .customer-action .customer-links a:first-child {
    margin-right: 30px;
}

.header-3-style .top-content-theme {
    background: transparent;
    padding: 0 15px;
}

.header-3-style .top-content-theme .page-title {
    text-transform: uppercase;
    color: #666;
    text-align: left;
}

.header-style-3 .middle-right-content .customer-action .customer-links.logged-in .toplinks-wrapper ul li {
    padding: 0;
}

.form-address-edit fieldset.fieldset,
.form-edit-account fieldset.fieldset {
    max-width: 500px;
    min-width: auto;
}

.wk-mp-fieldset .button {
    font-size: 12px !important;
    background: #444;
}
.wk-mp-fieldset .button:hover {
    background: #ffa502 !important;
    color: #fff !important;
}

.header-style-3 .middle-right-content .customer-action:hover .customer-links.logged-in .toplinks-wrapper {
    padding: 0 11px;
}

#wk-mp-become-seller-box-wrapper .message.success {
    margin-top: 10px;
}

.wk-mp-design input[type=email],
.wk-mp-design input[type=search],
.wk-mp-design input[type=number],
.wk-mp-design input[type=password],
.wk-mp-design input[type=tel],
.wk-mp-design input[type=text],
select,
textarea{
    max-width: 450px;
}

select {
    border-radius: 0;
}

.action-default, .wk-mp-design button, .block-footer .action-add, .block-footer .action-add {
    background: #444;
}

.catalog-category-view .page-title-wrapper {
    display: none;
}

.catalog-category-view .breadcrumbs {
    text-align: left;
    padding-top: 0;
}

.sidebar .block.filter .block-content .filter-options .filter-options-content {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    background: transparent;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.sidebar .block.filter .block-content .filter-options .filter-options-content .items .item a {
    border-bottom: 0;
    padding: 5px 20px 5px;
}

.sidebar .block.block-compare .empty {
    border-radius: 0;
}

.toolbar {
    border-radius: 0;
    background: transparent;
    padding: 0 10px;
    border: 0;
}

.toolbar .modes .modes-mode {
    border-radius: 0;
}

.toolbar .pages .pages-items li strong,
.toolbar .pages .pages-items li a {
    border-radius: 0;
}

.filter-content .swatch-option {
    border-radius: 0;
}

.toolbar .modes .modes-mode.mode-grid:hover,
.toolbar .modes .modes-mode.mode-grid.active,
.toolbar .pages .pages-items .item.current strong{
    background: #444;
    border-color: #444;
}

.breadcrumbs .container {
    width: auto;
}

.catalog-category-view .sidebar.sidebar-main {
    margin-bottom: 25px;
}

.sidebar .block.filter .block-content .filter-options .filter-options-title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 15px 20px;
    text-transform: uppercase;
    color: #5f5f5f;
}

.filter-current {
    background: #f9f9f9;
    border: 1px solid #dedede;
    border-bottom: 0;
}

.sidebar .block.filter .block-content .filter-current .block-subtitle.filter-current-subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 15px 20px;
    text-transform: uppercase;
    color: #5f5f5f;
}

.sidebar .block.filter .block-content .filter-current .items {
    border-left: 0;
    border-right: 0;
    background: #f9f9f9;
}

.filter-options {
    background: #f9f9f9;
    border: 1px solid #dedede;
}

.sidebar .block.filter .block-content .filter-current + .filter-actions {
    background: #f9f9f9;
    border: 1px solid #dedede;
}

.sidebar .block.filter .block-content .filter-options .filter-options-content .items .item a:hover {
    background: transparent;
}
.products-grid .item .item-inner .box-info .tocart {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.price-box .price {
    font-weight: 600;
    letter-spacing: 1px;
    color: #666666;
}






@media (max-width: 1023px) {
    .header-style-3 .searchbox-header {
        bottom: -63px;
    }
}

@media (max-width: 991px) {

    .header-style-3 .all-category {
        display: none;
    }

    .header-style-3 .btn-mobile .button-mobile {
        color: #4c4c4e;
    }

    .header-style-3 .btn-mobile .button-mobile .fa-bars:before {
        border: 1px solid #969696;
        padding: 5px 9px;
        border-radius: 4px;
        color: #b9b9b9;
        background: white;
        font-size: 28px;
    }

    .header-style-3 .header-bottom .bottom-content {
        background: transparent;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content .input-searchbox {
        border: 1px solid #cacaca;
    }

    .page-wrapper {
        padding-top: 164px;
    }

    .header-style-3 .btn-mobile .button-mobile .fa-bars{
        position: relative;
        bottom: 4px;
    }

}

@media (max-width: 767px) {
    a.logo > img {
        width: 200px;
    }
    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox {
        padding: 0 10px !important;
    }

    .header-style-3 .customer-links a:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    .header-style-3 .btn-mobile {
        position: absolute;
        top: -71px;
        z-index: 999;
    }

    .header-style-3 .btn-mobile .button-mobile .fa-bars {
        position: static;
    }

    .header-style-3 .searchbox-header {
        bottom: -48px;
        left: 0;
        right: 8px;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox {
        background: #ffa502;
    }

    .header-style-3 .middle-right-content .minicart-header {
        float: right;
    }

    .header-style-3 .minicart-header .cart-wrapper {
        position: absolute;
        right: -24px;
        top: -60px;
    }

    .header-style-3 .header-middle {
        box-shadow: none;
    }

    .header-container.header-style-3 {
        border-bottom: 0;
    }

    .header-style-3 .minicart-wrapper .block-minicart {
        right: 20px !important;
    }

    .navbar-active .sidebar-type .navigation-mobile {
        width: 80%;
    }

    .navbar-active .sidebar-type .navigation-mobile {
        padding: 0;
    }

    .navigation-mobile .touch-button {
        right: 10px;
        top: 14px;
    }

    .navigation-mobile .touch-button.active {
        background: #ffffff;
    }

    .navigation-mobile .touch-button.active:before {
        color: #000000;
    }

    .navigation-mobile > ul > li > a {
        padding: 12px 15px;
        letter-spacing: 1px;
    }

    .navigation-mobile > ul > li ul {
        padding-left: 20px;
    }

    .navigation-mobile > ul > li ul.level0.submenu {
        background: #f1f1f1;
    }

    .navigation-mobile > ul > li.parent-active > a {
        background: #ffa502;
        color: #ffffff;
    }

    .navigation-mobile > ul > li ul li a {
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }

}
