<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$_config = $this->helper('Sm\Bestshop\Helper\Data');
?>

<div class="footer-container footer-style-2">
	<div class="footer-wrapper">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-2-content')->toHtml(); ?>
        <div class="footer-bottom">
            <div class="container">
				<div class="bottom-content">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="payment-content">
								<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-6">
							<div class="copyright-content">
								<?php if($_config->getAdvanced('custom_copyright')){ ?>
									<address><?php echo $_config->getAdvanced('copyright_content') ?></address>
								<?php } else {?>
									<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
	</div>
</div>




