@media (min-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1600px) {
    .logo-header,
    .vermenu{
        width: 20%;
    }

    .header-middle-right,
    .hozmenu{
        width: 80%;
    }

    .cms-index-index .header-style-3 .megamenu-content-sidebar{
        .menu-ver-content{
            margin-top: 50px!important;
            opacity: 0!important;
            visibility: hidden!important;
        }

        &:hover{
            .menu-ver-content{
                margin-top: 0!important;
                opacity: 1!important;
                visibility: visible!important;
            }
        }
    }

    .slidershow-container{
        margin-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cms-index-index .header-style-3 .megamenu-content-sidebar{
        .menu-ver-content{
            margin-top: 50px!important;
            opacity: 0!important;
            visibility: hidden!important;
        }

        &:hover{
            .menu-ver-content{
                margin-top: 0!important;
                opacity: 1!important;
                visibility: visible!important;
            }
        }
    }

    .slidershow-container{
        margin-top: 20px;
    }

    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-3 .searchbox-header{
        padding-left: 30px;
    }

    .header-style-3 .middle-right-content .minicart-header{
        padding-right: 30px;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-3 .searchbox-header{
        padding-left: 30px;
    }

    .header-style-3 .middle-right-content .minicart-header{
        padding-right: 30px;
    }

    .header-style-3 .support-header,
    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }

    .larger-navigation{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
    }

    .header-style-3 .middle-right-content{
        float: left;
    }

    .header-style-3 .searchbox-header{
        position: absolute;
        left: 22px;
        padding: 0;
        bottom: -98px;
        z-index: 30;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content{
        border-color: #fff;
        background-color: #fff;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox{
        background-color: #333;
        margin-right: -3px;
    }

    .header-style-3 .header-bottom .bottom-content{
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-3 .searchbox-header{
        padding-left: 30px;
    }

    .header-style-3 .middle-right-content .minicart-header{
        padding-right: 30px;
    }

    .header-style-3 .support-header,
    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }

    .larger-navigation{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
    }

    .header-style-3 .middle-right-content{
        float: left;
    }

    .header-style-3 .searchbox-header{
        position: absolute;
        left: 22px;
        right: 77px;
        width: auto;
        padding: 0;
        bottom: -95px;
        z-index: 30;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content{
        border-color: #fff;
        background-color: #fff;
    }

    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox{
        background-color: #333;
        margin-right: -3px;
    }

    .header-top-left{
        display: none;
    }

    .header-style-3 .logo-content{
        text-align: center;
        margin-bottom: 20px;
    }

    .header-style-3 .middle-right-content{
        float: none;
        display: block;
        text-align: center;
    }

    .header-style-3 .minicart-header,
    .header-style-3 .customer-action{
        display: inline-block!important;
        text-align: left;
    }

    .header-style-3 .header-bottom .bottom-content{
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .header-style-3 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox{
        padding: 0 5px!important;
    }

    .cart-wrapper .mage-dropdown-dialog{
        left: -5px!important;
        width: 290px;
    }
}