@media (min-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1600px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-2 .searchbox-header{
        padding-right: 30px;
    }

    .header-style-2 .middle-right-content .minicart-header{
        padding-left: 30px;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-2 .searchbox-header{
        padding-right: 30px;
    }

    .header-style-2 .middle-right-content .minicart-header{
        padding-left: 30px;
    }

    .header-style-2 .support-header,
    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }

    .desktop-navigation{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
    }

    .header-style-2 .middle-right-content{
        float: right;
    }

    .header-style-2 .searchbox-header{
        position: absolute;
        right: 15px;
        padding: 0;
        bottom: -98px;
        z-index: 30;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content{
        border-color: #fff;
        background-color: #fff;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox{
        background-color: #333;
        margin-right: -3px;
    }
}

@media (max-width: 767px) {
    .dropdown .mage-dropdown-dialog{
        right: 0;
    }

    .header-style-2 .searchbox-header{
        padding-right: 30px;
    }

    .header-style-2 .middle-right-content .minicart-header{
        padding-left: 30px;
    }

    .header-style-2 .support-header,
    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .select-cat{
        display: none;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .field.searchbox .input-content{
        display: block;
    }

    .desktop-navigation{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
    }

    .header-style-2 .middle-right-content{
        float: right;
    }

    .header-style-2 .searchbox-header{
        position: absolute;
        right: 15px;
        left: 68px;
        width: auto;
        padding: 0;
        bottom: -95px;
        z-index: 30;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content{
        border-color: #fff;
        background-color: #fff;
    }

    .header-style-2 .search-wrapper .sm-searchbox-content .form.minisearch .actions .btn-searchbox{
        background-color: #333;
        margin-right: -3px;
    }

    .header-top-left{
        display: none;
    }

    .header-style-2 .logo-content{
        text-align: center;
        margin-bottom: 20px;
    }

    .header-style-2 .middle-right-content{
        float: none;
        display: block;
        text-align: center;
    }

    .header-style-2 .minicart-header,
    .header-style-2 .customer-action{
        display: inline-block!important;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog{
        right: -5px;
        width: 290px;
    }
}