﻿.default-style {
    .resp-accordion {
        display: none;
    }

    .resp-tabs-list {
        display: table;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;

        li {
            padding-bottom: 10px;
            float: left;
            display: block;
            font-size: 171.428%;
            color: #aaa;
            margin-right: 47px;
            cursor: pointer;
            position: relative;

            a{
                color: inherit;
            }

            &:before{
                content: "";
                display: block;
                width: 70px;
                height: 2px;
                position: absolute;
                left: 0;
                opacity: 0;
                bottom: -1px;
            }

            &.active{
                &:before{
                    opacity: 1;
                }
            }
        }
    }

    .resp-tabs-container {
        clear: both;
    }
}

/* RTL */
.direction-rtl {
    .default-style .resp-tabs-list li {
        float: right;
        margin-left: 47px;
        margin-right: 0;
    }
}
